@model MCQInterviews.Models.ViewModels.EditThemeRequest
@{
}

<div class="container py-3">
    @if (TempData["errorMsg"] != null)
    {
        <div class="alert alert-danger">
            <i class="fas fa-exclamation-triangle"></i> 
            @TempData["errorMsg"]
        </div>
    }
    <div class="card mt-2">
        <div class="card-header">
            <h5 class="text-primary text-primary text-center"> Edit Job Category</h5>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="mb-3">
                    <input type="hidden" id="id" class="form-control" asp-for="Id" readonly />
                </div>
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input type="text" id="name" class="form-control" asp-for="Name" required />
                </div>

                <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="mb-3 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary col-8"><i class="fas fa-sync-alt"></i>  Update</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
