@model MCQInterviews.Models.ViewModels.EditQuestionRequest
@{
}

<div class="container py-3">
    @if (TempData["errorMsg"] != null)
    {
        <div class="alert alert-danger">
            <i class="fa fa-exclamation-triangle"></i>
            @TempData["errorMsg"]
        </div>
    }
    <div class="card mt-2">
        <div class="card-header">
            <h5 class="text-primary text-primary text-center">Edit Question</h5>
        </div>
        <div class="card-body">
            <form method="post">

               
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row mb-3">
                    <div class="form-group col-3">

                        <label asp-for="ThemeId">Select Category</label>
                        <select asp-for="ThemeId" asp-items="@Model.Themes" class="form-control">
                            <option value="">-- Select Theme --</option>
                        </select>
                        <span asp-validation-for="ThemeId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-3">

                        <label asp-for="JobTitleId">Select Job Title</label>
                        <select asp-for="JobTitleId" asp-items="@Model.JobTitles" class="form-control">
                            <option value="">-- Select Job Title --</option>
                        </select>
                        <span asp-validation-for="JobTitleId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-3">

                        <label asp-for="DifficultyTypeId">Select Difficulty Type</label>
                        <select asp-for="DifficultyTypeId" asp-items="@Model.DifficultyTypes" class="form-control">
                            <option value="">-- Select Difficulty Type --</option>
                        </select>
                        <span asp-validation-for="DifficultyTypeId" class="text-danger"></span>

                    </div>
                </div>
                <div class="row mb-3">
            
                    <div class="form-group col-12">
                        <label asp-for="Text">Question</label>
                        <textarea asp-for="Text" class="form-control" rows="2"></textarea>
                        <span asp-validation-for="Text" class="text-danger"></span>
                    </div>
                </div>
        
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-primary"><i class="fas fa-sync-alt"></i>  Save Changes</button>
            </form>
        </div>
    </div>
</div>
