html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Roboto,sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    margin-top: auto; 
    width: 100%;
}

/*tab navigation*/
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}

.login-background {
    background-image: url('/img/loginbackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh; /* Ensure the background covers the full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-icon-3x-circle {
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

/* Style for the fixed timer container */
#countdownTimerContainer {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f6f0cf;
    padding: 10px;
    border: 1px solid #ddd;
    z-index: 1000;
}
.access-denied-container {
    /*display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;*/
    text-align: center;
}

.grapefruitlight-color {
    background-color: #ED5565;
}
.grapefruit-color {
    background-color: #DA4453;
}
.bittersweetlight-color {
    background-color: #FC6E51;
}
.bittersweet-color {
    background-color: #E9573F;
}
.grasslight-color {
    background-color: #A0D468;
}
.grass-color {
    background-color: #8CC152;
}
.mintlight-color {
    background-color: #48CFAD;
}
.mint-color {
    background-color: #37BC9B;
}
.aqualight-color {
    background-color: #4FC1E9;
}

.aqua-color {
    background-color: #3BAFDA;
}
.bluejeanslight-color {
    background-color: #5D9CEC;
}

.bluejeans-color {
    background-color: #4A89DC;
}
.lavenderlight-color {
    background-color: #AC92EC;
}

.lavender-color {
    background-color: #967ADC;
}
.pinkroselight-color {
    background-color: #EC87C0;
}

.pinkrose-color {
    background-color: #D770AD;
}
.sunflowerlight-color {
    background-color: #FFCE54;
}

.sunflower-color {
    background-color: #FCBB42;
}

.graylight-color {
    background-color: #CCD1D9;
}

.gray-color {
    background-color: #AAB2BD;
}
.darklight-color {
    background-color: #656D78;
}

.dark-color {
    background-color: #434A54;
}

.btn-xs {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
}

.disabled .fa-ban {
    color: red;
    margin-right: 5px;
}

.disabled {
    pointer-events: none;
    opacity: 0.65;
}

.card-candidate {
    margin: 20px 0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-candidate-title {
    font-size: 1.5rem;
    font-weight: bold;
}
.custom-card {
    height: 200px;
}
