@model IEnumerable<MCQInterviews.Models.Domain.Theme>

@{
    var mcqCounts = ViewData["MCQCounts"] as Dictionary<int, int>;
}

<div class="container py-2">
    <div class="card">
        <div class="card-header text-center">
            <h5 class="text-primary">Take the First Step: Select a Job Category</h5>
        </div>
        <div class="card-body">
            <div class="row">
                @foreach (var theme in Model)
                {
                    var countForTheme = mcqCounts?.GetValueOrDefault(theme.Id) ?? 0;
                    var mcqText = countForTheme == 1 ? "MCQ" : "MCQs";

                    <div class="col-md-3 mr-5 ml-2 mb-5">
                        <div class="card h-100 text-white" style="background-color: rgba(0, 123, 255, 0.7);">
                            <div class="card-body d-flex flex-column">
                                <div class="d-flex justify-content-between">
                                    <h6 class="card-title text-start">@theme.Name</h6>
                                    <div>
                                        <i class="fas fa-tasks fa-3x"></i>
                                    </div>
                                </div>
                                <div class="link-container">
                                    <a href="@Url.Action("JobTitleMCQs", new { themeId = theme.Id })" class="btn btn-outline-light text-start">
                                        <span class="h1">@countForTheme</span>
                                        <span class="h3">@mcqText</span>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


