@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}


<partial name="_StatusMessage" for="StatusMessage" />
<div class="card">
    <div class="card-header text-center">@ViewData["Title"]</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form id="change-password-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label asp-for="Input.OldPassword" class="form-label"></label>
                                <input asp-for="Input.OldPassword" class="form-control col-md-6" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                                
                                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label  class="form-label mt-4"></label>
                                <span class="small text-primary"><i class="fa fa-exclamation-circle"></i> The new password should have at least 1 upper letter, 1 lower letter, 1 digit and 1 special caracter.</span>

                                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label asp-for="Input.NewPassword" class="form-label"></label>
                                <input asp-for="Input.NewPassword" class="form-control col-md-6" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                                
                                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                                
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    
                   
                    
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
