@model MCQInterviews.Models.ViewModels.EditDifficultyAllocationRequest
@{
}
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container-fluid">
        <h3>Edit Mcq Difficulty Request  </h3>
    </div>
</div>
<div class="container py-5">
    @if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-danger">
            <i class="fa fa-exclamation-triagle"></i>
            @TempData["AlertMessage"]
        </div>
    }
    <form method="post">

        <div class="form-group">
            <label asp-for="McqDifficultyTypeId">Select MCQ Difficulty Type</label>
            <select asp-for="McqDifficultyTypeId" asp-items="@Model.McqDifficultyTypes" class="form-control">
                <option value="">-- Select Difficulty Type --</option>
            </select>
            <span asp-validation-for="McqDifficultyTypeId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="QuestionDifficultyTypeId">Select Question Difficulty Type</label>
            <select asp-for="QuestionDifficultyTypeId" asp-items="@Model.QuestionDifficultyTypes" class="form-control">
                <option value="">-- Select Difficulty Type --</option>
            </select>
            <span asp-validation-for="QuestionDifficultyTypeId" class="text-danger"></span>
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Percentage">Percentage</label>
            <input asp-for="Percentage" class="form-control" type="number" />
            <span asp-validation-for="Percentage" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
