@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}
    <div class="card">
        <div class="card-header text-center text-primary mt-1">Create a new account</div>
        <div class="card-body">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group mb-4">
                        <label asp-for="Input.FirstName">First Name</label>
                        <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" placeholder="first name" />
                        
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group mb-4">
                        <label asp-for="Input.LastName">Last Name</label>
                        <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" aria-required="true" placeholder="last name" />
                        
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>
                
            </div>
            <div class="row">
                @if (User.IsInRole("Admin"))
                {
                    <div class="col-8">
                        <div class="form-group mb-3">
                            <label asp-for="Input.Email">Email</label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="Input.Role"></label>
                            <select asp-for="Input.Role" class="form-control" asp-items="@Model.RoleOptions"></select>
                            <span asp-validation-for="Input.Role" class="text-danger"></span>
                        </div>
                    </div>
                } else
                {
                    <div class="col-8">
                        <div class="form-group mb-3">
                            <label asp-for="Input.Email">Email</label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group mb-3">
                            <label asp-for="Input.Role">Role</label>
                            <input asp-for="Input.Role" class="form-control" value="User" readonly />
                            <input type="hidden" asp-for="Input.Role" value="User" />
                            <span asp-validation-for="Input.Role" class="text-danger"></span>
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group mb-3">
                        <label asp-for="Input.Password">Password</label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />

                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group mb-3">
                        <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="retype password" />

                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
           
            
            <button id="registerSubmit" type="submit" class="w-100 btn btn-primary"><i class="fas fa-user-plus"></i> Register</button>
        </form>
        </div>
    </div>
       
    
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
