@model MCQInterviews.Models.ViewModels.AddQuestionDifficultyTypeRequest
@{
}

<div class="container py-2">
    <div class="card mt-2">
        <div class="card-header">
            <h5 class="text-primary text-primary text-center">Add New Question Difficulty Type</h5>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="mb-3">
                    <label class="form-label">Question Difficulty Type Name</label>
                    <input type="text" class="form-control" id="name" asp-for="TypeText" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Number of Points</label>
                    <input type="number"min="1" step="1" class="form-control" id="pointValue" asp-for="PointValue" />
                </div>


                <div class="mb-3">
                    <button class="btn btn-primary " type="submit"><i class="fa fa-save"></i> Save New Question Difficulty Type</button>
                </div>
            </form>
        </div>
    </div>
</div>
