<!DOCTYPE html>
<html>
<head>
    <title>Access Denied</title>
</head>
<body>
    <div class="access-denied-container">
        <h6><i class="fa fa-exclamation-triangle"></i> Access Denied</h6>
        <p>You don't have the necessary permissions to access this page.</p>
        <p>Please contact your administrator for assistance.</p>
    </div>
</body>
</html>
